<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Social Media</title>

  <!-- Bootstrap -->
  <link href="Views/css/bootstrap.min.css" rel="stylesheet">
  <link href="Views/css/custom.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SocMedia</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/messageboard">Message Board<span class="sr-only">(current)</span></a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/users">People</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="showOwnProfile()">My Profile</a></li>
            <li><a href="/myaccount">My Account</a></li>
            <li class="active"><a href="/changepassword">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container" ng-controller="ChangePasswordController">


  <form class="login-info" name="myForm" ng-submit="submitForm()" novalidate>
    <div class="container">
      <div class="row main">
        <div class="content-header">
          <h3 class="text-center">Change Password</h3>
        </div>
        <div class="main-content">

          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input id="oldpassword" type="password" class="form-control" name="oldpassword" ng-model="oldpassword" placeholder="Enter your Old Password" required>
          </div>
          <span style="color:red" ng-show="myForm.oldpassword.$touched">
          <span ng-show="myForm.oldpassword.$error.required">Current password is required.</span>
          </span>

          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input id="newpassword" type="password" class="form-control" name="newpassword" ng-model="newpassword" placeholder="Enter your New Password" required>
          </div>
          <span style="color:red" ng-show="myForm.newpassword.$touched">
          <span ng-show="myForm.newpassword.$error.required">New password is required.</span>
          </span>


          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input id="newpassword2" type="password" class="form-control" name="newpassword2" ng-model="newpassword2" pw-check="newpassword" placeholder="Repeat your New Password" required>
          </div>
          <span style="color:red" ng-show="myForm.newpassword2.$touched">
            <span ng-show="myForm.newpassword2.$error.required">Confirmation of new password is required.</span>
            <span ng-show="myForm.newpassword2.$error.pwmatch">Passwords don't match.</span>
          </span>

          <div class="form-group ">
            <span style="color:red" ng-show="errorMessage">{{ errorMessage }}</span>
            <span style="color:darkseagreen" ng-show="successMessage">{{ successMessage }}</span>
            <button type="submit"  class="btn btn-primary btn-lg btn-block restricted-button">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </form>


</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="Views/js/vendor/bootstrap.min.js"></script>
<script src="Views/js/vendor/angular.min.js"></script>
<script>
    angular.module('myApp', ['myApp.directives']);

    var app = angular.module('myApp.directives', []);
</script>
<script src="Views/js/vendor/FacebookSDK.js"></script>
<script src="Views/js/services/ErrorHandlerService.js"></script>
<script src="Views/js/services/TokenService.js"></script>
<script src="Views/js/services/UserService.js"></script>
<script src="Views/js/services/HttpService.js"></script>
<script src="Views/js/services/FacebookService.js"></script>
<script src="Views/js/directives/MatchPasswords.js"></script>
<script src="Views/js/services/LogoutService.js"></script>
<script src="Views/js/controllers/NavBarController.js"></script>
<script src="Views/js/controllers/ChangePasswordController.js"></script>
</body>
</html>