<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Social Media</title>

    <!-- Bootstrap -->
    <link href="Views/css/bootstrap.min.css" rel="stylesheet">
    <link href="Views/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SocMedia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li  class="active"><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container" ng-controller="LoginController">


    <form class="login-info" name="myForm" ng-submit="submitForm()" novalidate>
        <div class="container">
            <div class="row main">
                <div class="content-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="main-content">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input id="username" type="text" ng-model="username" class="form-control" name="username" placeholder="Enter your UserName" required>
                    </div>
                    <span style="color:red" ng-show="myForm.username.$touched">
                      <span ng-show="myForm.username.$error.required">Username is required.</span>
                      </span>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input id="password" type="password" class="form-control" ng-model="password" name="password" placeholder="Enter your Password" required>
                    </div>
                    <span style="color:red" ng-show="myForm.password.$touched">
                      <span ng-show="myForm.password.$error.required">Password is required.</span>
                      </span>


                    <span style="color:red" ng-show="errorMessage">{{ errorMessage }}</span>
                    <div class="form-group ">
                        <button type="submit"  class="btn btn-primary btn-lg btn-block restricted-button">Sign in</button>
                    </div>
                    <hr>
                    <div class="form-group text-center">
                        <fb:login-button max-rows="1"
                                         size="large">Sign in</fb:login-button>
                        <a href="/register" type="button" class="btn btn-link btn-md">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>
<div id="fb-root"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="Views/js/vendor/bootstrap.min.js"></script>
<script src="Views/js/vendor/angular.min.js"></script>
<script>
    angular.module('myApp', ['myApp.directives']);

    var app = angular.module('myApp.directives', []);
</script>
<script src="Views/js/services/ErrorHandlerService.js"></script>
<script src="Views/js/services/TokenService.js"></script>
<script src="Views/js/services/HttpService.js"></script>
<script src="Views/js/services/UserService.js"></script>
<script src="Views/js/services/FacebookService.js"></script>
<script src="Views/js/directives/MatchPasswords.js"></script>
<script src="Views/js/vendor/FacebookSDK.js"></script>
<script src="Views/js/controllers/LoginController.js"></script>

</body>
</html>