<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Social Media</title>

    <!-- Bootstrap -->
    <link href="Views/css/bootstrap.min.css" rel="stylesheet">
    <link href="Views/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SocMedia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/messageboard">Message Board<span class="sr-only">(current)</span></a></li>
                <li><a href="/messages">Messages</a></li>
                <li><a href="/users">People</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="showOwnProfile()">My Profile</a></li>
                        <li><a href="/myaccount">My Account</a></li>
                        <li><a href="/changepassword">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container" ng-controller="MessageBoardController">


    <section class="common-box">
        <div class="container">
            <div class="row main">
                <div class="content-header-2">
                    <h3 class="text-center">Message Board</h3>
                </div>
                <div class="content-subheader-2 row ">
                    <div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
                                <textarea id="msgtext" class="form-control" name="msgtext" ng-model="chatmessage" placeholder="Enter your Message" rows="3"></textarea>
                            </div>
                            <div class="input-group" disabled>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></span>
                                <input type="file" id="msgimg" class="form-control" name="msgimg" placeholder="Choose your Image File" disabled>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group sendbtn-area">
                                <input type="submit" class="btn btn-primary btn-lg btn-block restricted-button" name="btnSend" value="Send" ng-click="sendMessage()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-2">
                    <ul class="chat">
                        <li class="left clearfix" ng-repeat="m in messages"><span class="chat-img pull-left">
                            <img ng-src="m.u.img_photo" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">m.u.img_photo</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span> {{ getTimePassed(m.datetime) }}</small>
                                </div>
                                <p>
                                    {{ m.text }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="Views/js/vendor/bootstrap.min.js"></script>
<script src="Views/js/vendor/angular.min.js"></script>
<script>
    angular.module('myApp', ['myApp.directives']);

    var app = angular.module('myApp.directives', []);
</script>
<script src="Views/js/vendor/FacebookSDK.js"></script>
<script src="Views/js/services/ErrorHandlerService.js"></script>
<script src="Views/js/services/TokenService.js"></script>
<script src="Views/js/services/UserService.js"></script>
<script src="Views/js/services/HttpService.js"></script>
<script src="Views/js/services/FacebookService.js"></script>
<script src="Views/js/services/LogoutService.js"></script>
<script src="Views/js/controllers/NavBarController.js"></script>
<script src="Views/js/controllers/MessageBoardController.js"></script>
</body>
</html>