<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Social Media</title>

    <!-- Bootstrap -->
    <link href="Views/css/bootstrap.min.css" rel="stylesheet">
    <link href="Views/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SocMedia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/messageboard">Message Board<span class="sr-only">(current)</span></a></li>
                <li><a href="/messages">Messages</a></li>
                <li><a href="/users">People</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="showOwnProfile()">My Profile</a></li>
                        <li class="active"><a href="/myaccount">My Account</a></li>
                        <li><a href="/changepassword">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div class="container" ng-controller="MyAccountController">


    <section class="common-box">
        <div class="container">

            <div class="row main">
                <div class="content-header-2">
                    <h3 class="text-center">My Personal Info</h3>
                </div>
                <div class="main-content-2 row">
                    <div class=" userinfoheader">
                        <img ng-src="{{ user.img_photo }}" ng-model="user.img_photo" alt="User Avatar" class="img-circle" />
                        <h1 ng-model="user.name">{{ user.name }}</h1>
                    </div>
                    <form id="upload-form" method="POST" enctype="multipart/form-data" name="myForm" ng-submit="updateProfile()" novalidate>
                        <div class="col-xs-12 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                                <input id="username" type="text" class="form-control" placeholder="Your userName" ng-model="user.username" value="{{ user.username }}" disabled>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                                <input id="name" type="text" class="form-control" name="name" placeholder="Enter your Full Name" ng-model="user.name" value="{{ user.name }}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></span>
                                <input type="file" id="img_photo" class="form-control" ng-model="img_photo" name="img_photo" placeholder="Choose your Image File">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span style="color:darkseagreen" ng-show="updateProfileMessage.message">{{ updateProfileMessage.message }}</span>
                            <span style="color:red" ng-show="updateProfileMessage.error">{{ updateProfileMessage.error }}</span>
                            <div class="form-group sendbtn-area">
                                <input type="submit" class="btn btn-success btn-lg btn-block restricted-button" name="btnSend" value="Save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row main">
                <div class="content-header-2">
                    <h3 class="text-center">Friendship Requests</h3>
                </div>
                <div class="content-subheader-2 row">
                    <ul class="pagination pagination-lg">
                        <li class="active" ng-repeat="value in getFriendshipsPagination() track by $index"><a ng-click="getFriendshipsPage($index + 1)">{{ $index + 1 }}</a></li>
                    </ul>
                </div>
                <div class="main-content-2">
                    <span ng-if="friendships.results.length==0" style="color:black">It doesn't exist any Friendship request</span>
                    <ul class="chat">
                        <li ng-repeat="fr in friendships.results track by $index" class="left clearfix"><span class="chat-img pull-left">
                            <img ng-src="{{ fr.img_photo }}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="userlist-body clearfix">
                                <div class="header headername">
                                    <strong class="primary-font">{{ fr.name }}</strong>
                                </div>
                                <div class="buttonRight">
                                    <button type="button" class="btn btn-md btn-success" ng-click="acceptFriendship(fr, $index)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button type="button" class="btn btn-md btn-danger" ng-click="removeFriendship(fr, $index)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row main">
                <div class="content-header-2">
                    <h3 class="text-center">My Friends</h3>
                </div>
                <div class="content-subheader-2 row">
                    <ul class="pagination pagination-lg">
                        <li class="active" ng-repeat="value in getFriendsPagination() track by $index"><a ng-click="getFriendsPage($index + 1)">{{ $index + 1 }}</a></li>
                    </ul>
                </div>
                <div class="main-content-2">
                    <span ng-if="friends.results.length==0" style="color:black">You don't have any Friends. Forever alone, ahah!</span>
                    <ul class="chat">
                        <li ng-repeat="f in friends.results track by $index" class="left clearfix"><span class="chat-img pull-left">
                            <img ng-src="{{ f.img_photo }}" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="userlist-body clearfix">
                                <div class="header headername">
                                    <strong class="primary-font">{{ f.name }}</strong>
                                </div>
                                <div class="buttonRight">
                                    <a ng-click="showProfile(f)" type="button" class="btn btn-md btn-info"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                                    <button type="button" class="btn btn-md btn-danger" ng-click="removeFriend(f, $index)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="Views/js/vendor/bootstrap.min.js"></script>
<script src="Views/js/vendor/angular.min.js"></script>
<script>
    angular.module('myApp', ['myApp.directives']);

    var app = angular.module('myApp.directives', []);
</script>
<script src="Views/js/vendor/FacebookSDK.js"></script>
<script src="Views/js/services/ErrorHandlerService.js"></script>
<script src="Views/js/services/TokenService.js"></script>
<script src="Views/js/services/UserService.js"></script>
<script src="Views/js/services/HttpService.js"></script>
<script src="Views/js/services/FacebookService.js"></script>
<script src="Views/js/services/LogoutService.js"></script>
<script src="Views/js/controllers/NavBarController.js"></script>
<script src="Views/js/controllers/MyAccountController.js"></script>
</body>
</html>